/**
 * Theme Name:     Gatestone2017
 * Author:         James Karlinski
 * Template:       twentyseventeen
 * Text Domain:	   gatestone2017
 * Description:    A child of 2017 made by Parler
 * Theme URI:      https://parler.com
 * Author URI:     https://generalchicken.net
 */
